<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @mental.user_id %>
</p>

<p>
  <strong>Q1:</strong>
  <%= @mental.q1 %>
</p>

<p>
  <strong>Q2:</strong>
  <%= @mental.q2 %>
</p>

<p>
  <strong>Q3:</strong>
  <%= @mental.q3 %>
</p>

<p>
  <strong>Q4:</strong>
  <%= @mental.q4 %>
</p>

<p>
  <strong>Q5:</strong>
  <%= @mental.q5 %>
</p>

<p>
  <strong>Q6:</strong>
  <%= @mental.q6 %>
</p>

<p>
  <strong>Q7:</strong>
  <%= @mental.q7 %>
</p>

<p>
  <strong>Q8:</strong>
  <%= @mental.q8 %>
</p>

<p>
  <strong>Q9:</strong>
  <%= @mental.q9 %>
</p>

<p>
  <strong>Q10:</strong>
  <%= @mental.q10 %>
</p>

<p>
  <strong>Q11:</strong>
  <%= @mental.q11 %>
</p>

<p>
  <strong>Q12:</strong>
  <%= @mental.q12 %>
</p>

<p>
  <strong>Q13:</strong>
  <%= @mental.q13 %>
</p>

<p>
  <strong>Q14:</strong>
  <%= @mental.q14 %>
</p>

<p>
  <strong>Q15:</strong>
  <%= @mental.q15 %>
</p>

<p>
  <strong>Q16:</strong>
  <%= @mental.q16 %>
</p>

<p>
  <strong>Q17:</strong>
  <%= @mental.q17 %>
</p>

<p>
  <strong>Q18:</strong>
  <%= @mental.q18 %>
</p>

<p>
  <strong>Q19:</strong>
  <%= @mental.q19 %>
</p>

<p>
  <strong>Q20:</strong>
  <%= @mental.q20 %>
</p>

<p>
  <strong>Q21:</strong>
  <%= @mental.q21 %>
</p>

<p>
  <strong>Q22:</strong>
  <%= @mental.q22 %>
</p>

<p>
  <strong>Q23:</strong>
  <%= @mental.q23 %>
</p>

<p>
  <strong>Q24:</strong>
  <%= @mental.q24 %>
</p>

<%= link_to 'Edit', edit_mental_path(@mental) %> |
<%= link_to 'Back', mentals_path %>
