<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @laboral.user_id %>
</p>

<p>
  <strong>Q1:</strong>
  <%= @laboral.q1 %>
</p>

<p>
  <strong>Q2:</strong>
  <%= @laboral.q2 %>
</p>

<p>
  <strong>Q3:</strong>
  <%= @laboral.q3 %>
</p>

<p>
  <strong>Q4:</strong>
  <%= @laboral.q4 %>
</p>

<p>
  <strong>Q5:</strong>
  <%= @laboral.q5 %>
</p>

<p>
  <strong>Q6:</strong>
  <%= @laboral.q6 %>
</p>

<p>
  <strong>Q7:</strong>
  <%= @laboral.q7 %>
</p>

<p>
  <strong>Q8:</strong>
  <%= @laboral.q8 %>
</p>

<p>
  <strong>Q9:</strong>
  <%= @laboral.q9 %>
</p>

<p>
  <strong>Q10:</strong>
  <%= @laboral.q10 %>
</p>

<p>
  <strong>Q11:</strong>
  <%= @laboral.q11 %>
</p>

<p>
  <strong>Q12:</strong>
  <%= @laboral.q12 %>
</p>

<%= link_to 'Edit', edit_laboral_path(@laboral) %> |
<%= link_to 'Back', laborals_path %>
