<% if current_user %>
   <% if current_user.admin %>
    <!-- Background image -->
    <div
      class="text-center bg-image mb-4"
      style="background-image: url('https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80');
        height: 204px;">
      <div class="mask p-5" style="background-color: rgba(56,56,56,0.41);">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="mb-3">¡Hola <%= current_user.name %>!</h1>
            <h4 class="mb-3">Descubre todas las funcionales que tenemos para tu empresa</h4>
          </div>
        </div>
      </div>
    </div>

 <% else %> <!-- Background image -->
  <div
    class="text-center bg-image mb-4"
    style="background-image: url('https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80');
      height: 204px;">
    <div class="mask p-5" style="background-color: rgba(0,22,255,0.41);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">¡Hola <%= current_user.name %>!</h1>
          <h4 class="mb-3">Descubre todas las funcionales que tenemos para ti</h4>
        </div>
      </div>
    </div>
  </div>
<%end%>

  <div class="card-deck mt-5">
    <%= link_to results_path, class: "card cardsS"  do %>
        <img class="card-img-top mt-3" src="assets/hiring.svg" alt="Card image cap" width="160" height="160">
        <div class="card-body">
          <h5 class="card-title text-primary text-center">Mis resultados</h5>
        </div>
    <%end%>
    <%= link_to climalaboral_path, class: "card cardsS"  do %>
      <img class="card-img-top  mt-3" src="assets/celebrate.svg" alt="Card image cap" width="160" height="160">
      <div class="card-body">
        <h5 class="card-title text-primary text-center">Clima laboral</h5>
      </div>
    <%end%>

    <%= link_to saludemocional_path, class: "card cardsS"  do %>
      <img class="card-img-top mt-3" src="assets/medicine.svg" alt="Card image cap" width="160" height="160">
      <div class="card-body">
        <h5 class="card-title text-primary text-center">Salud emocional</h5>
      </div>
    <%end%>
  </div>
<% else %>
  <html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Promote.me</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/product/">
  </head>

  <body>
  <div class="container col-xxl-8 px-5 py-4 ">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <%= image_tag("landing.svg", { size: "500x500", alt: "PromoteMe", class: "img-responsive"} ) %>
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 text-primary fw-bold lh-1 mb-3"><b>Promote.me</b> <br>La solución que tu empresa necesita</h1>
        <p class="lead">En nuestra plataforma encontrarás todo lo necesario para mejorar la gestión de recursos humanos.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 my-4 me-md-2">Solicitar Demo</button>
        </div>
      </div>
    </div>
  </div>
  <div class="position-relative overflow-hidden px-3 py-2 p-md-3 m-md-2 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-3">
      <h1 class="display-4 font-weight-normal text-primary">Beneficios</h1>
      <p class="lead font-weight-normal">Conoce todos los beneficios que Promote.me trae para ti y tu empresa</p>
    </div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
  </div>

  <div class="container marketing pt-5 pb-5">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <%= image_tag("Alerta.svg", { size: "150x150", alt: "PromoteMe", class: "img-responsive"} ) %>
        <h2>Rotación de personal</h2>
        <p class="lead">Con nuestra plataforma contarás con toda la información necesaria para tomar las decisiones correctas y evitar al máximo la rotación de personal .</p>
        <p><a class="btn btn-primary" href="#" role="button">Ver más »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <%= image_tag("grow2.svg", { size: "150x150", alt: "PromoteMe", class: "img-responsive"} ) %>
        <h2>Planes de carrera</h2>
        <p class="lead">Construye los planes de carrera para los perfiles de tu empresa. Genera mejores incentivos, ascensos más efectivos y un mejor clima laboral.</p>
        <p><a class="btn btn-primary" href="#" role="button">Ver más »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <%= image_tag("test2.svg", { size: "150x150", alt: "PromoteMe", class: "img-responsive"} ) %>
        <h2>Evaluaciones</h2>
        <p class="lead">Contamos con múltiples evaluaciones que permitirán tomar las mejores decisiones para mejorar el clima laboral, reducir el estrés laboral entre otros</p>
        <p><a class="btn btn-primary" href="#" role="button">Ver más »</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->
    <div class="p-lg-4"></div>
    <hr class="featurette-divider mt-5 pt-5">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Plataforma pensada en la experiencia</h2>
        <p class="lead">Uno de las principales falencias de los sistemas de información es la poca usabilidad. En recursos humanos las plataformas complejas no soportan adecuandamente los procesos. Con Promote.me podrás ejecutar lo que necesitas de la forma más sencilla.</p>
      </div>
      <div class="col-md-5">
        <%= image_tag("devices.svg", { size: "300x300", alt: "PromoteMe", class: "featurette-image img-fluid mx-auto"} ) %>
      </div>
    </div>

    <div class="p-lg-4"></div>

    <hr class="featurette-divider mt-5">

    <div class="row featurette mt-4">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Reportes e información<span class="text-muted"> exclusiva y valiosa</span></h2>
        <p class="lead">Lo más valioso de tu organización es la información, por esta razon Promote.me pone a tu disposición los mejores reportes y análisis sobre lo que tus colaboradores necesitan. Tendrás mayor capacidad de decisión</p>
      </div>
      <div class="col-md-5 order-md-1">
        <%= image_tag("data.svg", { size: "300x300", alt: "PromoteMe", class: "featurette-image img-fluid mx-auto"} ) %>
      </div>
    </div>

    <div class="p-lg-4"></div>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Conoce los perfiles de tu empresa <span class="text-muted"></span></h2>
        <p class="lead">Consolida y conoce los perfiles de tus colaboradores de la forma más sencilla y precisa. Contamos con las mejores herramientas para evaluar las capacidades y habilidades para potencializar el talento de tus colaboradores</p>
      </div>
      <div class="col-md-5">
        <%= image_tag("hiring.svg", { size: "300x300", alt: "PromoteMe", class: "featurette-image img-fluid mx-auto"} ) %>
      </div>
    </div>
    <div class="p-lg-4"></div>
    <hr class="featurette-divider">
    <!-- /END THE FEATURETTES -->

  </div>


  <footer class="container py-5">
    <div class="row">
      <div class="col-12 col-md">
        <%= image_tag("logoPromoteMe.svg", { size: "150x150", alt: "PromoteMe", class: "img-responsive"} ) %>
        <small class="d-block mb-3 text-muted">© Promote.me 2021</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Cool stuff</a></li>
          <li><a class="text-muted" href="#">Random feature</a></li>
          <li><a class="text-muted" href="#">Team feature</a></li>
          <li><a class="text-muted" href="#">Stuff for developers</a></li>
          <li><a class="text-muted" href="#">Another one</a></li>
          <li><a class="text-muted" href="#">Last time</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Resource</a></li>
          <li><a class="text-muted" href="#">Resource name</a></li>
          <li><a class="text-muted" href="#">Another resource</a></li>
          <li><a class="text-muted" href="#">Final resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Business</a></li>
          <li><a class="text-muted" href="#">Education</a></li>
          <li><a class="text-muted" href="#">Government</a></li>
          <li><a class="text-muted" href="#">Gaming</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>


  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script>
      Holder.addTheme('thumb', {
          bg: '#55595c',
          fg: '#eceeef',
          text: 'Thumbnail'
      });
  </script>


  </body></html>

<% end %>


