<p id="notice"><%= notice %></p>

<h1>Discs</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Q1</th>
      <th>Q2</th>
      <th>Q3</th>
      <th>Q4</th>
      <th>Q5</th>
      <th>Q6</th>
      <th>Q7</th>
      <th>Q8</th>
      <th>Q9</th>
      <th>Q10</th>
      <th>Q11</th>
      <th>Q12</th>
      <th>Q13</th>
      <th>Q14</th>
      <th>Q15</th>
      <th>Q16</th>
      <th>Q17</th>
      <th>Q18</th>
      <th>Q19</th>
      <th>Q20</th>
      <th>Q21</th>
      <th>Q22</th>
      <th>Q23</th>
      <th>Q24</th>
      <th>Q25</th>
      <th>Q26</th>
      <th>Q27</th>
      <th>Q28</th>
      <th>Q1n</th>
      <th>Q2n</th>
      <th>Q3n</th>
      <th>Q4n</th>
      <th>Q5n</th>
      <th>Q6n</th>
      <th>Q7n</th>
      <th>Q8n</th>
      <th>Q9n</th>
      <th>Q10n</th>
      <th>Q11n</th>
      <th>Q12n</th>
      <th>Q13n</th>
      <th>Q14n</th>
      <th>Q15n</th>
      <th>Q16n</th>
      <th>Q17n</th>
      <th>Q18n</th>
      <th>Q19n</th>
      <th>Q20n</th>
      <th>Q21n</th>
      <th>Q22n</th>
      <th>Q23n</th>
      <th>Q24n</th>
      <th>Q25n</th>
      <th>Q26n</th>
      <th>Q27n</th>
      <th>Q28n</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @discs.each do |disc| %>
      <tr>
        <td><%= disc.user_id %></td>
        <td><%= disc.q1 %></td>
        <td><%= disc.q2 %></td>
        <td><%= disc.q3 %></td>
        <td><%= disc.q4 %></td>
        <td><%= disc.q5 %></td>
        <td><%= disc.q6 %></td>
        <td><%= disc.q7 %></td>
        <td><%= disc.q8 %></td>
        <td><%= disc.q9 %></td>
        <td><%= disc.q10 %></td>
        <td><%= disc.q11 %></td>
        <td><%= disc.q12 %></td>
        <td><%= disc.q13 %></td>
        <td><%= disc.q14 %></td>
        <td><%= disc.q15 %></td>
        <td><%= disc.q16 %></td>
        <td><%= disc.q17 %></td>
        <td><%= disc.q18 %></td>
        <td><%= disc.q19 %></td>
        <td><%= disc.q20 %></td>
        <td><%= disc.q21 %></td>
        <td><%= disc.q22 %></td>
        <td><%= disc.q23 %></td>
        <td><%= disc.q24 %></td>
        <td><%= disc.q25 %></td>
        <td><%= disc.q26 %></td>
        <td><%= disc.q27 %></td>
        <td><%= disc.q28 %></td>
        <td><%= disc.q1n %></td>
        <td><%= disc.q2n %></td>
        <td><%= disc.q3n %></td>
        <td><%= disc.q4n %></td>
        <td><%= disc.q5n %></td>
        <td><%= disc.q6n %></td>
        <td><%= disc.q7n %></td>
        <td><%= disc.q8n %></td>
        <td><%= disc.q9n %></td>
        <td><%= disc.q10n %></td>
        <td><%= disc.q11n %></td>
        <td><%= disc.q12n %></td>
        <td><%= disc.q13n %></td>
        <td><%= disc.q14n %></td>
        <td><%= disc.q15n %></td>
        <td><%= disc.q16n %></td>
        <td><%= disc.q17n %></td>
        <td><%= disc.q18n %></td>
        <td><%= disc.q19n %></td>
        <td><%= disc.q20n %></td>
        <td><%= disc.q21n %></td>
        <td><%= disc.q22n %></td>
        <td><%= disc.q23n %></td>
        <td><%= disc.q24n %></td>
        <td><%= disc.q25n %></td>
        <td><%= disc.q26n %></td>
        <td><%= disc.q27n %></td>
        <td><%= disc.q28n %></td>
        <td><%= link_to 'Show', disc %></td>
        <td><%= link_to 'Edit', edit_disc_path(disc) %></td>
        <td><%= link_to 'Destroy', disc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Disc', new_disc_path %>
