<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @disc.user_id %>
</p>

<p>
  <strong>Q1:</strong>
  <%= @disc.q1 %>
</p>

<p>
  <strong>Q2:</strong>
  <%= @disc.q2 %>
</p>

<p>
  <strong>Q3:</strong>
  <%= @disc.q3 %>
</p>

<p>
  <strong>Q4:</strong>
  <%= @disc.q4 %>
</p>

<p>
  <strong>Q5:</strong>
  <%= @disc.q5 %>
</p>

<p>
  <strong>Q6:</strong>
  <%= @disc.q6 %>
</p>

<p>
  <strong>Q7:</strong>
  <%= @disc.q7 %>
</p>

<p>
  <strong>Q8:</strong>
  <%= @disc.q8 %>
</p>

<p>
  <strong>Q9:</strong>
  <%= @disc.q9 %>
</p>

<p>
  <strong>Q10:</strong>
  <%= @disc.q10 %>
</p>

<p>
  <strong>Q11:</strong>
  <%= @disc.q11 %>
</p>

<p>
  <strong>Q12:</strong>
  <%= @disc.q12 %>
</p>

<p>
  <strong>Q13:</strong>
  <%= @disc.q13 %>
</p>

<p>
  <strong>Q14:</strong>
  <%= @disc.q14 %>
</p>

<p>
  <strong>Q15:</strong>
  <%= @disc.q15 %>
</p>

<p>
  <strong>Q16:</strong>
  <%= @disc.q16 %>
</p>

<p>
  <strong>Q17:</strong>
  <%= @disc.q17 %>
</p>

<p>
  <strong>Q18:</strong>
  <%= @disc.q18 %>
</p>

<p>
  <strong>Q19:</strong>
  <%= @disc.q19 %>
</p>

<p>
  <strong>Q20:</strong>
  <%= @disc.q20 %>
</p>

<p>
  <strong>Q21:</strong>
  <%= @disc.q21 %>
</p>

<p>
  <strong>Q22:</strong>
  <%= @disc.q22 %>
</p>

<p>
  <strong>Q23:</strong>
  <%= @disc.q23 %>
</p>

<p>
  <strong>Q24:</strong>
  <%= @disc.q24 %>
</p>

<p>
  <strong>Q25:</strong>
  <%= @disc.q25 %>
</p>

<p>
  <strong>Q26:</strong>
  <%= @disc.q26 %>
</p>

<p>
  <strong>Q27:</strong>
  <%= @disc.q27 %>
</p>

<p>
  <strong>Q28:</strong>
  <%= @disc.q28 %>
</p>

<p>
  <strong>Q1n:</strong>
  <%= @disc.q1n %>
</p>

<p>
  <strong>Q2n:</strong>
  <%= @disc.q2n %>
</p>

<p>
  <strong>Q3n:</strong>
  <%= @disc.q3n %>
</p>

<p>
  <strong>Q4n:</strong>
  <%= @disc.q4n %>
</p>

<p>
  <strong>Q5n:</strong>
  <%= @disc.q5n %>
</p>

<p>
  <strong>Q6n:</strong>
  <%= @disc.q6n %>
</p>

<p>
  <strong>Q7n:</strong>
  <%= @disc.q7n %>
</p>

<p>
  <strong>Q8n:</strong>
  <%= @disc.q8n %>
</p>

<p>
  <strong>Q9n:</strong>
  <%= @disc.q9n %>
</p>

<p>
  <strong>Q10n:</strong>
  <%= @disc.q10n %>
</p>

<p>
  <strong>Q11n:</strong>
  <%= @disc.q11n %>
</p>

<p>
  <strong>Q12n:</strong>
  <%= @disc.q12n %>
</p>

<p>
  <strong>Q13n:</strong>
  <%= @disc.q13n %>
</p>

<p>
  <strong>Q14n:</strong>
  <%= @disc.q14n %>
</p>

<p>
  <strong>Q15n:</strong>
  <%= @disc.q15n %>
</p>

<p>
  <strong>Q16n:</strong>
  <%= @disc.q16n %>
</p>

<p>
  <strong>Q17n:</strong>
  <%= @disc.q17n %>
</p>

<p>
  <strong>Q18n:</strong>
  <%= @disc.q18n %>
</p>

<p>
  <strong>Q19n:</strong>
  <%= @disc.q19n %>
</p>

<p>
  <strong>Q20n:</strong>
  <%= @disc.q20n %>
</p>

<p>
  <strong>Q21n:</strong>
  <%= @disc.q21n %>
</p>

<p>
  <strong>Q22n:</strong>
  <%= @disc.q22n %>
</p>

<p>
  <strong>Q23n:</strong>
  <%= @disc.q23n %>
</p>

<p>
  <strong>Q24n:</strong>
  <%= @disc.q24n %>
</p>

<p>
  <strong>Q25n:</strong>
  <%= @disc.q25n %>
</p>

<p>
  <strong>Q26n:</strong>
  <%= @disc.q26n %>
</p>

<p>
  <strong>Q27n:</strong>
  <%= @disc.q27n %>
</p>

<p>
  <strong>Q28n:</strong>
  <%= @disc.q28n %>
</p>

<%= link_to 'Edit', edit_disc_path(@disc) %> |
<%= link_to 'Back', discs_path %>
