<p id="notice"><%= notice %></p>

<h1>Resultados clima laboral</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Resultado Numérico</th>
      <th>Resultado Cualitativo</th>

      <!--<th>Q1</th>
      <th>Q2</th>
      <th>Q3</th>
      <th>Q4</th>
      <th>Q5</th>
      <th>Q6</th>
      <th>Q7</th>
      <th>Q8</th>
      <th>Q9</th>
      <th>Q10</th>
      <th>Q11</th>
      <th>Q12</th>
      <th>Q13</th>
      <th>Q14</th>
      <th>Q15</th>
      <th>Q16</th>
      <th>Q17</th>
      <th>Q18</th>
      <th>Q19</th>
      <th>Q20</th>
      <th>Q21</th>-->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enviroments.each do |enviroment| %>
      <tr>
        <td><%= User.find(enviroment.user_id).email %></td>
        <td><%= enviroment.resultadoNumerico %></td>
        <td><%= enviroment.resultado %></td>
   <!--     <td><%#= enviroment.q1 %></td>
        <td><%#= enviroment.q2 %></td>
        <td><%#= enviroment.q3 %></td>
        <td><%#= enviroment.q4 %></td>
        <td><%#= enviroment.q5 %></td>
        <td><%#= enviroment.q6 %></td>
        <td><%#= enviroment.q7 %></td>
        <td><%#= enviroment.q8 %></td>
        <td><%#= enviroment.q9 %></td>
        <td><%#= enviroment.q10 %></td>
        <td><%#= enviroment.q11 %></td>
        <td><%#= enviroment.q12 %></td>
        <td><%#= enviroment.q13 %></td>
        <td><%#= enviroment.q14 %></td>
        <td><%#= enviroment.q15 %></td>
        <td><%#= enviroment.q16 %></td>
        <td><%#= enviroment.q17 %></td>
        <td><%#= enviroment.q18 %></td>
        <td><%#= enviroment.q19 %></td>
        <td><%#= enviroment.q20 %></td>
        <td><%#= enviroment.q21 %></td>-->
        <td><%= link_to 'Show', enviroment %></td>
        <td><%= link_to 'Edit', edit_enviroment_path(enviroment) %></td>
        <td><%= link_to 'Destroy', enviroment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Realizar encuesta', new_enviroment_path %>
