<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @enviroment.user.email %>
</p>

<p>
  <strong>Net promoted Score (NPS):</strong>
  <%= @enviroment.q1 %>
</p>

<table class="table bg-white">
  <thead class="thead-light">
  <tr>
    <th scope="col">Componente</th>
    <th scope="col">Puntaje</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Sentido de pertencia</td>
    <td><%= @enviroment.sentido_pertenencia %></td>
  </tr>
  <tr>
    <td>Relación con jefe</td>
    <td><%= @enviroment.relacion_jefe %></td>
  </tr>
  <tr>
    <td>Relación con compañeros</td>
    <td><%= @enviroment.equipo %></td>
  </tr>
  <tr>
    <td>Condiciones físicas</td>
    <td><%= @enviroment.condiciones %></td>
  </tr>
  <tr>
    <td>Carga laboral</td>
    <td><%= @enviroment.carga %></td>
  </tr>
  <tr>
    <td>Ambiente de trabajo</td>
    <td><%= @enviroment.ambiente %></td>
  </tr>
  <tr>
    <td>Compensación</td>
    <td><%= @enviroment.compensacion %></td>
  </tr>
  <tr>
    <td>Oportunidades de desarrollo</td>
    <td><%= @enviroment.desarrollo %></td>
  </tr>
  <tr>
    <td>Reconocimiento</td>
    <td><%= @enviroment.reconocimiento %></td>
  </tr>
  <tr>
    <td>Felicidad en el trabajo</td>
    <td><%= @enviroment.felicidad %></td>
  </tr>
  </tbody>
</table>
<% if current_user.admin  %>
<%= link_to 'Edit', edit_enviroment_path(@enviroment), class:'btn btn-outline-primary' %> |
<%= link_to 'Back', enviroments_path, class:'btn btn-outline-primary' %>
<% end %>

<%= link_to 'Volver', results_path, class:'btn btn-outline-primary' %>