<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @enviroment.user_id %>
</p>

<p>
  <strong>Q1:</strong>
  <%= @enviroment.q1 %>
</p>

<p>
  <strong>Q2:</strong>
  <%= @enviroment.q2 %>
</p>

<p>
  <strong>Q3:</strong>
  <%= @enviroment.q3 %>
</p>

<p>
  <strong>Q4:</strong>
  <%= @enviroment.q4 %>
</p>

<p>
  <strong>Q5:</strong>
  <%= @enviroment.q5 %>
</p>

<p>
  <strong>Q6:</strong>
  <%= @enviroment.q6 %>
</p>

<p>
  <strong>Q7:</strong>
  <%= @enviroment.q7 %>
</p>

<p>
  <strong>Q8:</strong>
  <%= @enviroment.q8 %>
</p>

<p>
  <strong>Q9:</strong>
  <%= @enviroment.q9 %>
</p>

<p>
  <strong>Q10:</strong>
  <%= @enviroment.q10 %>
</p>

<p>
  <strong>Q11:</strong>
  <%= @enviroment.q11 %>
</p>

<p>
  <strong>Q12:</strong>
  <%= @enviroment.q12 %>
</p>

<p>
  <strong>Q13:</strong>
  <%= @enviroment.q13 %>
</p>

<p>
  <strong>Q14:</strong>
  <%= @enviroment.q14 %>
</p>

<p>
  <strong>Q15:</strong>
  <%= @enviroment.q15 %>
</p>

<p>
  <strong>Q16:</strong>
  <%= @enviroment.q16 %>
</p>

<p>
  <strong>Q17:</strong>
  <%= @enviroment.q17 %>
</p>

<p>
  <strong>Q18:</strong>
  <%= @enviroment.q18 %>
</p>

<p>
  <strong>Q19:</strong>
  <%= @enviroment.q19 %>
</p>

<p>
  <strong>Q20:</strong>
  <%= @enviroment.q20 %>
</p>

<p>
  <strong>Q21:</strong>
  <%= @enviroment.q21 %>
</p>

<p>
  <strong>Q22:</strong>
  <%= @enviroment.q22 %>
</p>

<p>
  <strong>Q23:</strong>
  <%= @enviroment.q23 %>
</p>

<%= link_to 'Edit', edit_enviroment_path(@enviroment) %> |
<%= link_to 'Back', enviroments_path %>
