<!DOCTYPE html>
<html>
  <head>
    <title>PromoteMeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "sb-admin-2.min" %>
  </head>

  <body id="page-top">

  <% if signed_in? %>
    <div id="wrapper">
      <!-- Sidebar -->
      <ul class="sidenav navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <%= link_to root_path, class: "sidebar-brand d-flex align-items-center justify-content-center"  do %>
          <div class="sidebar-brand-text mx-3"> <%= image_tag("logoPromoteMe-white.svg", { size: "200x200", alt: "PromoteMe", class: "img-responsive"} ) %></div>
        <%end%>
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <hr class="sidebar-divider">
        <%= image_tag("perfil.jpg", { size: "50x50", alt: "PromoteMe", class: "featurette-image img-fluid mx-auto rounded-circle mt-2"} ) %>
        <div class="sidebar-heading text-gray-200 text-center">

          <%= current_user.email %>
        </div>

        <hr class="sidebar-divider mt-3">

        <li class="nav-item text-gray-200">
          <%= link_to new_enviroment_path, class: "nav-link"  do %>
          <i class="fas fa-address-book"></i>
          <span>Empleados</span>
          <%end%>
        </li>

        <li class="nav-item text-gray-200 ">
          <%= link_to new_enviroment_path, class: "nav-link"  do %>
          <i class="fas fa-address-book"></i>
          <span>Evaluaciones</span>
          <%end%>
        </li>

      <% if current_user.admin %>
        <li class="nav-item text-gray-200">
          <%= link_to new_enviroment_path, class: "nav-link"  do %>
          <i class="fas fa-address-book"></i>
          <span>Ascenso</span></a>
          <%end%>
        </li>
        <% end %>
        <li class="nav-item text-gray-200">
          <%= link_to new_user_session_path, class: "nav-link"  do %>
          <i class="fas fa-address-book"></i>
          <span>Cargos críticos</span>
          <%end%>
        </li>

      </ul>
      <!-- End of Sidebar -->
  <% end %>

    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <% if signed_in? == false %>
          <!-- Sidebar - Brand -->
          <%= link_to root_path, class: "sidebar-brand d-flex align-items-center justify-content-center"  do %>
            <div class="sidebar-brand-text mx-3"> <%= image_tag("logoPromoteMe.svg", { size: "200x200", alt: "PromoteMe", class: "img-responsive"} ) %></div>
          <%end%>
          <%end %>
          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>

              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <div class="my-auto">
              <% if signed_in? %>
                <button class="btn btn-primary mx-2" type="button">
                <%= link_to "Salir", destroy_user_session_path, method: :delete, class: 'text-gray-100' %>
                </button>
              <% else %>
                <button class="btn btn-primary mx-2" type="button">
                  <%= link_to "Registrarse", new_user_registration_path , {:class => "text-gray-100"}%>
                </button>
                <button class="btn btn-primary " type="button">
                  <%= link_to "Ingresar", new_user_session_path, {:class => "text-gray-100"} %>
                </button>

              <% end %>
            </div>
            <!-- Nav Item - User Information -->


          </ul>

        </nav>
        <!-- End of Topbar -->
        <% unless alert.nil? %>
          <div class="alert alert-danger text-center" role="alert">
            <%= alert %>
          </div>
        <% end %>
        <% unless notice.nil? %>
          <div class="alert alert-primary text-center" role="alert">
            <%= notice %>
          </div>
        <% end %>
        <div class="main container-fluid">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
